header {
    position: relative;
    padding-bottom: 3.8rem;
}

nav {
    width: 100%;
    position: fixed;
    padding: .7rem clamp(1rem, 6vw, 8rem);
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: hsl(4, 100%, 61%);
    line-height: 1.2rem;
}

.links {
    display: flex;
    align-items: center;
}

.links a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

.links .cart-route {
    display: flex;
}